<div class="w-full h-full flex flex-col items-center">
  <div class="w-full mb-8">
    <se-greenhouse-header [showBackButton]="true" [showMenuButton]="true"/>
    <se-greenhouse-info></se-greenhouse-info>
  </div>
  <div class="w-full">
    <se-statistics-card [statistics]="stats"/>
    <se-tab-panel>
      <se-panel-tab title="Manual Control">
        <div class="w-full flex flex-wrap items-center justify-between gap-x-3 gap-y-5">
          <div class="w-[48%]">
            <se-control-card title="Lighting" subtitle="12 Watt" [initState]="false" onIcon="bulb.svg"
                           offIcon="bulb-outline.svg"/>
          </div>
          <div class="w-[48%]">
            <se-control-card title="Lighting" subtitle="12 Watt" [initState]="false" onIcon="bulb.svg"
                           offIcon="bulb-outline.svg"/>
          </div>
          <div class="w-[48%]">
            <se-control-card title="Lighting" subtitle="12 Watt" [initState]="false" onIcon="bulb.svg"
                           offIcon="bulb-outline.svg"/>
          </div>
          <div class="w-[48%]">
            <se-control-card title="Lighting" subtitle="12 Watt" [initState]="false" onIcon="bulb.svg"
                           offIcon="bulb-outline.svg"/>
          </div>
        </div>
      </se-panel-tab>
      <se-panel-tab title="Smart Greenhouse">Noc Rroku</se-panel-tab>
    </se-tab-panel>


  </div>
</div>
