<div class="w-full flex flex-col items-center bg-transparent py-5">
  <div class="w-full mb-5 border-b-2 border-gray-100">
    <ul class="flex flex-row items-center justify-start gap-5">

      @for(tab of tabs; track tab.title) {
        <li class="transition-all {{ tab.active ? 'text-se-green border-b-2 border-se-green' : 'text-gray-300 border-none' }} text-[16px] font-semibold p-3 tracking-tighter"
            (click)="selectTab(tab)">
          {{ tab.title() }}
        </li>
      }
    </ul>
  </div>

  <ng-content></ng-content>

</div>
