<div class="relative w-full h-auto flex flex-col items-center justify-start">
  <div
    class="w-full h-[74px] {{ background() }} {{ border() }} z-50 rounded-full flex flex-row items-center justify-between {{ isToggled ? 'border-b-[1px] border-white border-opacity-20' : 'border-none' }}  px-5"
    (click)="toggleSelect()">
    <se-title [color]="titleColor()" size="text-[20px]" weight="font-semibold">{{ title() }}</se-title>
    <img src="assets/images/icons/chevron.svg" alt="Chevron"
         class="w-[24px] transition ease-in-out duration-300 delay-75 {{ isToggled ? 'rotate-180' : '' }}"/>
  </div>
  @if (isToggled) {
    <div
      class="w-[95%] max-h-[400px] scroll-auto overflow-auto px-5 py-10 mt-[-20px] rounded-3xl {{ background() }} bg-opacity-10 backdrop-blur-3xl">
      @for (option of options; track option.key; let i = $index) {
        <div class="w-full {{ i !== options.length - 1 ?  'mb-5' : 'mb-0'}}"
             (click)="selectOption(option.value)">
          <se-item width="w-full" [line]="i !== options.length - 1" [lineColor]="linesColor()">
            <se-title [color]="optionColor()" size="text-[18px]" weight="font-semibold mb-3">{{ option.key }}</se-title>
          </se-item>
        </div>
      }
    </div>
  }
</div>
