<div class="flex flex-row items-center justify-start gap-3">

  <input #checkbox type="checkbox" class="sr-only peer">
  <div
    class="transition-colors duration-300 ease-in  relative w-[60px] h-[30px] rounded-full peer-checked:bg-se-jungle bg-gray-400 flex items-center"
    (click)="toggleSwitch(checkbox)">
    <div
      class="transition-transform ease-linear duration-150 delay-300 size-[35px] rounded-full bg-white transform {{ checkbox.checked ? 'translate-x-[30px]' : 'translate-x-[0px]' }} shadow-md shadow-gray-800"></div>
  </div>

  @if (label() && label() !== '') {
    <se-title [size]="labelSize()" [weight]="labelWeight()" [color]="labelColor()"
              (click)="toggleSwitch(checkbox)">{{ label() }}
    </se-title>
  }
</div>
