<div class="flex flex-row items-center justify-start gap-3">

  <input #checkbox type="checkbox" class="sr-only peer">
  <div
    class="transition-colors duration-300 ease-in  relative w-[40px] h-[20px] rounded-full peer-checked:bg-se-jungle bg-gray-100 flex items-center"
    (click)="toggleSwitch(checkbox)">
    <div
      class="transition-transform ease-linear duration-150 size-[25px] rounded-full bg-white transform"
      [ngClass]="{'translate-x-[15px]': checkbox.checked, 'translate-x-[0px] bg-gray-300': !checkbox.checked}"></div>
  </div>

  @if (label() && label() !== '') {
    <se-title [size]="labelSize()" [weight]="labelWeight()" [color]="labelColor()"
              (click)="toggleSwitch(checkbox)">{{ label() }}
    </se-title>
  }
</div>
