@tailwind base;
@tailwind components;
@tailwind utilities;

//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", sans-serif;
}

.curved-top {
  border-top-left-radius: 500% 80%;
  border-top-right-radius: 500% 80%;
}

.box-shadow {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}