<div class="relative w-screen h-screen overflow-hidden flex flex-col items-center justify-center">
  <img src="assets/images/defaults/greenhouse.jpg" alt="Greenhouse" class="w-full top-[-100px] absolute">
  <div
    class="w-full h-2/3 bg-se-green absolute bottom-0 inset-x-0 flex flex-col items-center justify-center px-5 curved-top z-20">
    <!--  TODO:  Add Logo on top of page -->
    <se-title size="text-[32px]" color="text-white" weight="font-bold">Login</se-title>
    <se-title size="text-[16px]" color="text-se-dimWhite" weight="font-normal">in {{ appName }}</se-title>

    <div class="w-full mt-10">
      <se-input type="text" fontStyle="text-[18px] text-white font-medium" bgColor="bg-se-jungle bg-opacity-20 mb-5"
                radius="rounded-[10px]" placeholder="Email"/>
      <se-input type="password" fontStyle="text-[18px] text-white font-medium"
                bgColor="bg-se-jungle bg-opacity-20 mb-12" radius="rounded-[10px]" placeholder="Password"/>
      <se-button text="text-white text-[18px] font-medium" radius="rounded-[15px]">Login</se-button>
    </div>
  </div>
</div>

