<div class="relative w-full min-h-full flex flex-col items-center overflow-hidden px-5 pt-8 pb-[80px]">
  <div class="absolute top-[-100px] w-[100vh] rounded-[100%] h-[400px] bg-se-green z-0"></div>
  <div class="relative top-0 w-full h-[150px] flex flex-col items-start justify-start">
    <se-welcome-header username="Fermer"/>
    <se-date/>
  </div>
  <div class="relative z-50 w-full flex flex-col items-center justify-start gap-5">
    @for (greenhouse of greenhouseCards; track greenhouse.id) {
      <div class="w-full">
        <se-greenhouse-card [greenhouseInfo]="greenhouse" (click)="goToGreenhouse(greenhouse)"/>
      </div>
    }
  </div>
</div>
