<div class="w-full flex flex-col items-center justify-start gap-10 p-5 h-full bg-se-green">
  <se-title color="text-white" size="text-[32px]" weight="font-bold" font="non-italic">Test Title</se-title>
  <div class="w-full">
    <se-input type="text" bgColor="bg-white bg-opacity-10 backdrop-blur-2xl mb-12" borderColor="border-none"
              placeholder="Email" (onInput)="getInputValue($event)"/>
    <se-button text="text-white text-[24px] font-medium" (onClick)="buttonClicked()">Get Started</se-button>
  </div>
  <se-switch label="Custom Toggle" (onToggle)="switchToggled($event)"/>
  <se-badge>
    <se-title color="text-se-green" size="text-[16px] mr-1">12</se-title>
    places
  </se-badge>
  <se-card bgColor="bg-white" width="w-40" height="h-40">
    <se-title size="text-[24px]" weight="font-bold" color="text-se-green">Card Title</se-title>
  </se-card>
</div>
