<div class="w-full flex flex-col items-center justify-start gap-10 p-5 h-full bg-se-green">
  <se-title color="text-white" size="text-[32px]" weight="font-bold" font="non-italic">Test Title</se-title>
  <div class="w-full">
    <se-input type="text" bgColor="bg-white bg-opacity-10 backdrop-blur-2xl mb-12" borderColor="border-none"
              placeholder="Email" (onInput)="getInputValue($event)"/>
    <se-button text="text-white text-[22px] font-medium" (onClick)="buttonClicked()">Get Started</se-button>
  </div>
  <se-switch [initState]="true" label="Custom Toggle" (onToggle)="switchToggled($event)"/>
  <se-badge>
    <se-title color="text-se-green" size="text-[16px] mr-1">12</se-title>
    places
  </se-badge>

  <se-card bgColor="bg-white" width="w-40" height="h-40">
    <se-title size="text-[24px]" weight="font-bold" color="text-se-green">Card Title</se-title>
  </se-card>

  <div class="w-full">
    <se-item>
      <se-title color="text-white" size="text-[32px]" weight="font-bold" font="non-italic">Test Item</se-title>
    </se-item>
  </div>

  <div class="w-full">
    <se-accordion background="bg-white bg-opacity-20">
      <ng-container header>
        <se-title color="text-white" size="text-[22px]" weight="font-bold" font="non-italic">Test Accordion Title
        </se-title>
      </ng-container>
      <ng-container body>
        <div class="w-full h-full flex flex-row items-center justify-between">
          <se-title color="text-white" size="text-[22px]" weight="font-bold" font="non-italic">Test Accordion Body
          </se-title>
          <img src="../../../favicon.ico" alt="Chevron" class="w-[24px] transition ease-in-out duration-300 delay-75"/>
        </div>
      </ng-container>
    </se-accordion>
  </div>

  <div class="w-full">
    <se-select background="bg-white" [options]="selectOptions" (onSelect)="selectOption($event)"/>
  </div>
</div>
<div class="w-full flex flex-col items-center justify-start gap-10 p-5 h-full">
  <div class="w-full">
    <se-control-card title="Lighting" subtitle="12 Watt" [initState]="false" onIcon="bulb.svg"
                     offIcon="bulb-outline.svg" (onToggle)="controlCardToggled($event)"/>
  </div>
  <div class="w-full">
    <se-greenhouse-card/>
  </div>
  <div class="w-1/3 h-[100px]">
    <se-stat-item image="bulb-outline.svg" title="Lighting" value="12 Watt"/>
  </div>
  <se-back-button/>
  <se-ellipsis-menu/>
  <div class="w-full h-auto">
    <se-greenhouse-header/>
  </div>
  <div class="w-full">
    <se-greenhouse-info/>
  </div>
</div>
